:root {
<<<<<<< HEAD
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
=======
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}

/* Start Box */
.d-flex {
<<<<<<< HEAD
  display: flex;
}
.f-wrap {
  flex-wrap: wrap;
}
.flex-grow {
  flex-grow: 1;
}
.align-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.d-grid {
  display: grid;
}
.gap-20 {
  gap: 20px;
}
.d-block {
  display: block;
}
@media (max-width: 767px) {
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
=======
    display: flex;
}
.f-wrap {
    flex-wrap: wrap;
}
.flex-grow {
    flex-grow: 1;
}
.align-center {
    align-items: center;
}
.space-between {
    justify-content: space-between;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.d-block {
    display: block;
}
@media (max-width: 767px) {
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}
/* End Box */
/* Start Padding + Margin */
.p-10 {
<<<<<<< HEAD
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pt-10 {
  padding-top: 10px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pl-15 {
  padding-left: 15px;
}
.m-0 {
  margin: 0;
}
.m-15 {
  margin: 15px;
}
.m-20 {
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mr-5 {
  margin-right: 5px;
}
.mb-5 {
  margin-bottom: 5px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-25 {
  margin-bottom: 25px;
}
.ml-auto {
  margin-left: auto;
=======
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pt-10 {
    padding-top: 10px;
}
.pt-15 {
    padding-top: 15px;
}
.pt-20 {
    padding-top: 20px;
}
.pb-10 {
    padding-bottom: 10px;
}
.pb-15 {
    padding-bottom: 15px;
}
.pb-20 {
    padding-bottom: 20px;
}
.pl-15 {
    padding-left: 15px;
}
.m-0 {
    margin: 0;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}
.mr-5 {
    margin-right: 5px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.ml-auto {
    margin-left: auto;
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}
/* End Padding + Margin */
/* Start Color */
.c-black {
<<<<<<< HEAD
  color: black;
}
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-red {
  color: var(--red-color);
}
.c-green {
  color: var(--green-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
=======
    color: black;
}
.c-white {
    color: white;
}
.c-grey {
    color: var(--grey-color);
}
.c-red {
    color: var(--red-color);
}
.c-green {
    color: var(--green-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-orange {
    color: var(--orange-color);
}
.bg-red {
    background-color: var(--red-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}
/* End Color */
/* Start Position */
.p-relative {
<<<<<<< HEAD
  position: relative;
}
.p-absolute {
  position: absolute;
=======
    position: relative;
}
.p-absolute {
    position: absolute;
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}
/* End Position */
/* Start Font */
.txt-c {
<<<<<<< HEAD
  text-align: center;
}
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-15 {
  font-size: 15px;
}
.fs-16 {
  font-size: 16px;
}
.fs-25 {
  font-size: 25px;
}
.fs-32 {
  font-size: 25px;
}
.fw-bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
=======
    text-align: center;
}
.fs-13 {
    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-16 {
    font-size: 16px;
}
.fs-25 {
    font-size: 25px;
}
.fs-32 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
@media (max-width: 767px) {
    .txt-c-mobile {
        text-align: center;
    }
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}
/* End Font */
/* Start Border */
.rad-6 {
<<<<<<< HEAD
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.b-none {
  border: none;
}
.border-ccc {
  border: 1px solid #ccc;
}
.border-eee {
  border: 1px solid #eee;
=======
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}
.b-none {
    border: none;
}
.border-ccc {
    border: 1px solid #ccc;
}
.border-eee {
    border: 1px solid #eee;
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}

/* End Border */
/* Start Width + Height */
.w-full {
<<<<<<< HEAD
  width: 100%;
}
.w-100 {
  width: 100px;
}
.w-fit {
  width: fit-content;
}
.h-full {
  height: 100%;
}
.h-100 {
  height: 100px;
=======
    width: 100%;
}
.w-100 {
    width: 100px;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
.h-100 {
    height: 100px;
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}
/* End Width + Height */
/* Start Components */
.center-flex {
<<<<<<< HEAD
  display: flex;
  align-items: center;
  justify-content: center;
}
.between-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
}
/* End Components */

@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
.hover-blue {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.hover-blue:hover {
  background-color: var(--blue-alt-color);
=======
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
    border: none !important;
    color: white !important;
}
/* End Components */
.btn-shape:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
}
.hover-blue {
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.hover-blue:hover {
    background-color: var(--blue-alt-color);
>>>>>>> 3a7c11c0f7c26e882b2a588b74bda85988f62f2b
}
